.add-new-course-main-container{
    -fx-background-color: #fff;
    -fx-background-radius: 18 0 0 18;
}
.go-back-course-btn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.go-back-course-btn:hover, .choose-img_btn:hover{
    -fx-opacity: 0.6;
}
.choose-img_btn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.go-back-course-btn:hover{
    -fx-opacity: 0.6;
}
.add-course-form-container{
    -fx-background-color: #fff;
    -fx-background-radius: 24px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}
.title-form{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 32;
    -fx-fill: #000000;
}
.add-course-input{
    -fx-background-color: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}
.description-input{
    -fx-control-inner-background: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 4, 0);
}
.add-course-input:focused, .description-input:focused{
    -fx-border-color: #1D6611;
}
.add-course-input:hover, .description-input:hover{
    -fx-border-color: #1D6611;
}
.label-form{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-fill: #000000;
}
