.courses-main-content-container, .courses-details-container{
    -fx-background-color: #fff;
    -fx-background-radius: 18 0 0 18;
}
.add-new-course-btn, .show-details-btn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-background-color: #1D6611;
    -fx-text-fill: #D5FFDC;
    -fx-background-radius: 8px;
}
.add-new-course-btn:hover, .show-details-btn:hover{
    -fx-opacity: 0.6;
}
.list-courses-label{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-fill: #000000;
}
.courses-list-container{
    -fx-background-color: #fff;
    -fx-background-radius: 24px;
}
.filter-course-cbox{
    -fx-background-color: #1D6611;
    -fx-background-radius: 8px;
    -fx-font-family: "Jost Medium";
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}
.filter-course-cbox .list-view{
    -fx-background-color: #1D6611;
    -fx-background-radius: 8px;
}
.filter-course-cbox .text-input{
    -fx-background-color: #1D6611;
}
.filter-course-cbox .list-cell {
    -fx-text-fill: #1D6611;
}
.courses-list-scroll-pane{
    -fx-background-color: #fff;
}
.courses-list-scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}
.courses-list-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #1D6611;
}
.courses-list-scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-opacity: 0.6;
}
.courses-list-scroll-pane .scroll-bar:vertical .increment-button,
.courses-list-scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}
.list-courses-container{
    -fx-background-color: #fff;
}
.course-item-container{
    -fx-background-color: #C1F2B0;
    -fx-background-radius: 18px;
}
.course-item-title{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-fill: #000000;
}
.course-item-date{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 16;
    -fx-opacity: 0.6;
    -fx-text-fill: #000000;
}
.registred-nbr-label{
    -fx-font-family: "Jost";
    -fx-font-size: 16;
    -fx-text-fill: #000000;
}
.course-details-img-container{
    -fx-fill: red;
    -fx-arc-height: 50;
    -fx-arc-width: 50;
}
.pane-data-details{
    -fx-background-color: #D5FFDC;
    -fx-background-radius: 50px;
}
.edit-course-btn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-background-color: #fff;
    -fx-text-fill: #BDA91A;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #BDA91A;
    -fx-border-width: 2px;
}
.delete-course-btn,.confirm-delete-course-btn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-background-color: #fff;
    -fx-text-fill: red;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: red;
    -fx-border-width: 2px;
}
.add-section-btn{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-background-color: #fff;
    -fx-text-fill: #1D6611;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #1D6611;
    -fx-border-width: 2px;
}
.label-details{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-fill: #000000;
}
.label-data{
    -fx-font-family: "Jost SemiBold";
    -fx-font-size: 24;
    -fx-fill: #000000;
}
.one-course-scroll-pane{
    -fx-background-color: #D5FFDC;
}
.one-course-scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}
.one-course-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #1D6611;
}
.one-course-scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-opacity: 0.6;
}
.one-course-scroll-pane .scroll-bar:vertical .increment-button,
.one-course-scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}
.one-course-details-container{
    -fx-background-color: #D5FFDC;
}
.delete-warning-container{
    -fx-background-color: #fff;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-border-color: red;
}
.warning-delete-label{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-text-fill: red;
}
.warning-delete-text{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 24;
    -fx-fill: #000000;
}
.password-confirm-delete-course {
    -fx-background-color: #fff;
    -fx-border-radius: 6px;
    -fx-border-color: #999;
    -fx-background-radius: 6px;
    -fx-prompt-text-fill: #999;
    -fx-font-family: "Jost Medium";
    -fx-font-weight: 600;
    -fx-font-size: 16px;
}
.confirm-delete-course-btn:hover{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-background-color: red;
    -fx-text-fill: #fff;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
}
.success-operation-container{
    -fx-background-color: #fff;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-border-color: #1D6611;
}
.success-msg{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    -fx-text-fill: #1D6611;
}
.field-empty{
    -fx-font-family: "Jost Medium";
    -fx-font-size: 20;
    fx-text-fill: red;
}