/* Root styles */
.root {
    -fx-background-color: #f0f0f0; /* Background color */
}

/* Text styles */
.text {
    -fx-font-size: 14px; /* Font size */
    -fx-fill: #008000; /* Text color */
}

/* Text Field styles */
.text-field {
    -fx-pref-height: 25px; /* Preferred height */
    -fx-pref-width: 400px; /* Preferred width */
    -fx-background-color: #e0ffe0; /* Field background color */
}

/* Text Area styles */
.text-area {
    -fx-pref-height: 175px; /* Preferred height */
    -fx-pref-width: 550px; /* Preferred width */
    -fx-background-color: #e0ffe0; /* Field background color */
}

/* Button styles */
.button {
    -fx-pref-height: 40px; /* Preferred height */
    -fx-pref-width: 120px; /* Preferred width */
    -fx-font-size: 14px; /* Font size */
    -fx-background-color: #32CD32; /* Button background color */
    -fx-text-fill: #ffffff; /* Button text color */
    -fx-border-color: #32CD32; /* Button border color */
    -fx-border-radius: 5px; /* Button border radius */
}

.button:hover {
    -fx-background-color: #228B22; /* Hover background color */
    -fx-text-fill: #ffffff; /* Hover text color */
}

.button:pressed {
    -fx-background-color: #006400; /* Pressed background color */
}

/* AnchorPane styles */
.anchor-pane {
    -fx-padding: 20px; /* Padding */
    -fx-background-color: #009471;
}
