.parent {
    -fx-background-color: white;
}
.sidebar{
    -fx-background-color: #009471;
}
.forgetBtn{
    -fx-text-fill: #3A3A3AC0;
}
.forgetBtn:hover{
    -fx-text-fill: #009471;
}
.loginBtn{
    -fx-background-color: #009471;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5px;
}
.loginBtn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-fill: #009471;
    -fx-border-color: #009471;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.closeBtn {
    -fx-fill: #545454;
}
.closeBtn:hover{
    -fx-fill: #ff6666;
}
.ChooseFileBtn{
    -fx-background-color: #ffffff;
    -fx-border-color: #009471;
}
.ChooseFileBtn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-fill: #009471;
    -fx-border-color: #009471;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.backBtn{
    -fx-fill: #545454;

}
.backBtn:hover{
    -fx-fill: #009471;

}

